version: "3.9"

services:
  crypto_mysql:
    image: mysql:8.0
    container_name: crypto_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cryptodb
      MYSQL_USER: cryptouser
      MYSQL_PASSWORD: cryptopass
    ports:
      - "9000:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./bd/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

volumes:
  mysql_data:
